In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3
import numpy as np
from numpy import random
database = 'database.sqlite'
conn = sqlite3.connect('../database/database.sqlite')

In [8]:
def tabela_mando_home(stageI, stageF, league_id, season, team_id):
    sql = """select team, count(case when gf > gs then 1 end) V,
    count(case when gs > gf then 1 end) D,
    count(case when gf = gs then 1 end) E,
    sum(gf) GF, avg(gf) as AVG_GF ,  sum(gs) as GS  , avg(gs) as AVG_GS,
    count(case when gs>0 then 1 end) as J1GS, 
    count (case when gf>0 then 1 end) as J1GF,
    count (case when (gf>0 and gs>0) then 1 end) as BTTS,
    count (case when (gf + gs>2) then 1 end) as Over2,
    count (case when (gf + gs>3) then 1 end) as Over3,
    count (case when (gf + gs>4) then 1 end) as Over4,
    count (case when (gf>gs and gs=0) then 1 end) as WinningCleanSheet,
    count (case when (gs>gf and gf=0) then 1 end) as LosingFS,
    count (case when (gf=0) then 1 end) as FailedScore,
    count (case when (gs=0) then 1 end) as CleanSheet,
    avg (gf+gs) as AVG_GOALS from 
    (select home_team_api_id team, home_team_goal gf, away_team_goal gs from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""" ) and (season='"""+str(season)+"""') and league_id ="""+str(league_id)+"""  and home_team_api_id="""+str(team_id)+""") a 
    group by team order by V desc , GF-GS desc, GF desc;"""

    return pd.read_sql(sql, conn)

def tabela_mando_away(stageI, stageF, league_id, season, team_id):
    sql = """select team as team, count(case when gf > gs then 1 end) V,
    count(case when gs > gf then 1 end) D,
    count(case when gf = gs then 1 end) E,
    sum(gf) GF, avg(gf) as AVG_GF ,  sum(gs) as GS  , avg(gs) as AVG_GS,
    count(case when gs>0 then 1 end) as J1GS, 
    count (case when gf>0 then 1 end) as J1GF,
    count (case when (gf>0 and gs>0) then 1 end) as BTTS,
    count (case when (gf + gs>2) then 1 end) as Over2,
    count (case when (gf + gs>3) then 1 end) as Over3,
    count (case when (gf + gs>4) then 1 end) as Over4,
    count (case when (gf>gs and gs=0) then 1 end) as WinningCleanSheet,
    count (case when (gs>gf and gf=0) then 1 end) as LosingFS,
    count (case when (gf=0) then 1 end) as FailedScore,
    count (case when (gs=0) then 1 end) as CleanSheet,
    avg (gf+gs) as AVG_GOALS from 
    (select away_team_api_id team, away_team_goal gf, home_team_goal gs from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""" ) and (season='"""+str(season)+"""') and league_id ="""+str(league_id)+"""  and away_team_api_id="""+str(team_id)+""") a 
    group by team order by V desc , GF-GS desc, GF desc;"""
    return pd.read_sql(sql, conn)


def tabela(stageI, stageF, league_id, season, team_id):
    sql= """select team , count(case when gf > gs then 1 end) V,
    count(case when gs > gf then 1 end) D,
    count(case when gf = gs then 1 end) E,
    sum(gf) GF, avg(gf) as AVG_GF ,  sum(gs) as GS  , avg(gs) as AVG_GS,
    count(case when gs>0 then 1 end) as J1GS, 
    count (case when gf>0 then 1 end) as J1GF,
    count (case when (gf>0 and gs>0) then 1 end) as BTTS,
    count (case when (gf + gs>2) then 1 end) as Over2  ,
    count (case when (gf + gs>3) then 1 end) as Over3  ,
    count (case when (gf + gs>4) then 1 end) as Over4  ,
    count (case when (gf>gs and gs=0) then 1 end) as WinningCleanSheet,
    count (case when (gs>gf and gf=0) then 1 end) as LosingFS,
    count (case when (gf=0) then 1 end) as FailedScore,
    count (case when (gs=0) then 1 end) as CleanSheet,
    avg (gf+gs) as AVG_GOALS from 
    (select away_team_api_id as team, home_team_goal as  gs , away_team_goal as gf  from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""" ) and (season='"""+str(season)+"""') and league_id ="""+str(league_id)+""" and away_team_api_id="""+str(team_id)+"""
    union all select home_team_api_id as team,  away_team_goal as gs, home_team_goal as gf from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""" ) and (season='"""+str(season)+"""') and league_id ="""+str(league_id)+""" and home_team_api_id="""+str(team_id)+""") a group by team order by V desc , GF-GS desc,GF desc;"""
    return pd.read_sql(sql, conn)
def rank_pos(team_id,data):
    i=1
    ult=0
    k=0    
    for index, row in data.iterrows():
            if ult == row['tg']:
                k=k+1
                if row['team']==team_id:
                    return i-1
            else:
                if row['team']==team_id:
                    return i+k
                ult = row['tg'] 
                i=i+k+1
                k=0

def rank_def_away(stageI,stageF,league_id,season,team_id):
    
    sql= """select away_team_api_id as team, sum (home_team_goal) as tg  from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""") and (season='"""+str(season)+"""') and league_id="""+str(league_id)+"""   
    group by team order by tg desc;"""
    a = pd.read_sql(sql,conn)
    return a
    #return rank_pos(str(team_id),a)

def rank_def_home(stageI,stageF,league_id,season,team_id):
    
    sql= """select home_team_api_id as team, sum (away_team_goal) as tg  from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""") and (season='"""+str(season)+"""') and league_id="""+str(league_id)+"""   
    group by team order by tg desc;"""
    a = pd.read_sql(sql,conn)
    return a
    #return rank_pos(str(team_id),a)

def rank_atk_away(stageI,stageF,league_id,season,team_id):
    
    sql= """select away_team_api_id as team, sum (away_team_goal) as tg  from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""") and (season='"""+str(season)+"""') and league_id="""+str(league_id)+"""   
    group by team order by tg desc;"""
    a = pd.read_sql(sql,conn)
    return a
    #return rank_pos(str(team_id),a)

def rank_atk_home(stageI,stageF,league_id,season,team_id):
    
    sql= """select home_team_api_id as team, sum (home_team_goal) as tg  from Match 
    where (stage between """+str(stageI)+""" and """+str(stageF)+""") and (season='"""+str(season)+"""') and league_id="""+str(league_id)+"""   
    group by team order by tg desc;"""
    a = pd.read_sql(sql,conn)
    
    return a

def last_match_date(date,team_id,season):
    sql = """select date from Match where 
    season='"""+str(season)+"""' and date<'"""+str(date)+"""' and 
    (home_team_api_id="""+str(team_id)+""" or away_team_api_id="""+str(team_id)+""") order by date desc;"""
    #print sql
    return  pd.read_sql(sql, conn).head(1)

In [3]:
sql = """select * from Match where league_id !=24558 and league_id != 19694"""                  

matches = pd.read_sql(sql,conn)
drop = matches.columns.values[-27:-1]
#Removing other betting houses odds
matches = matches.drop(drop,1)
matches= matches.drop('BSA',1)
#Raw features
matches= matches.drop(['match_api_id','id','country_id','goal', 'shoton', 'shotoff', 'foulcommit', 'card',
       'cross', 'corner', 'possession','home_player_X1', 'home_player_X2', 'home_player_X3',
        'home_player_X4', 'home_player_X5', 'home_player_X6',
        'home_player_X7', 'home_player_X8', 'home_player_X9',
        'home_player_X10', 'home_player_X11', 'away_player_X1',
        'away_player_X2', 'away_player_X3', 'away_player_X4',
        'away_player_X5', 'away_player_X6', 'away_player_X7',
        'away_player_X8', 'away_player_X9', 'away_player_X10',
        'away_player_X11', 'home_player_Y1', 'home_player_Y2',
        'home_player_Y3', 'home_player_Y4', 'home_player_Y5',
        'home_player_Y6', 'home_player_Y7', 'home_player_Y8',
        'home_player_Y9', 'home_player_Y10', 'home_player_Y11',
        'away_player_Y1', 'away_player_Y2', 'away_player_Y3',
        'away_player_Y4', 'away_player_Y5', 'away_player_Y6',
        'away_player_Y7', 'away_player_Y8', 'away_player_Y9',
        'away_player_Y10', 'away_player_Y11',
        'home_player_1','home_player_2','home_player_3','home_player_4',
        'home_player_5','home_player_6','home_player_7','home_player_8',
        'home_player_9','home_player_10','home_player_11',
        'away_player_1','away_player_2','away_player_3','away_player_4',
        'away_player_5','away_player_6','away_player_7','away_player_8',
        'away_player_9','away_player_10','away_player_11'],1)
matches = matches[matches['league_id']!= 1]

from datetime import datetime

data_final = pd.DataFrame()
delta_stage=5
matches['date']=pd.to_datetime(matches['date'], format='%Y-%m-%d %H:%M:%S.%f')

matches.sort_values(["league_id","season","stage"])

matches

,league_id,season,stage,date,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A
1728,1729,2008/2009,1,2008-08-17,10260,10261,1,1,1.29,5.50,11.00
1729,1729,2008/2009,1,2008-08-16,9825,8659,1,0,1.20,6.50,15.00
1730,1729,2008/2009,1,2008-08-16,8472,8650,0,1,5.50,3.60,1.67
1731,1729,2008/2009,1,2008-08-16,8654,8528,2,1,1.91,3.40,4.20
1732,1729,2008/2009,1,2008-08-17,10252,8456,4,2,1.91,3.40,4.33
1733,1729,2008/2009,1,2008-08-16,8668,8655,2,3,2.00,3.30,4.00
1734,1729,2008/2009,1,2008-08-16,8549,8586,2,1,3.20,3.40,2.25
1735,1729,2008/2009,1,2008-08-16,8559,10194,3,1,1.83,3.50,4.50
1736,1729,2008/2009,1,2008-08-16,8667,9879,2,1,2.60,3.20,2.80
1737,1729,2008/2009,1,2008-08-17,8455,8462,4,0,1.33,5.00,10.00
1738,1729,2008/2009,10,2008-10-29,10260,8654,2,0,1.20,6.00,19.00
1739,1729,2008/2009,10,2008-10-29,9825,8586,4,4,1.44,4.50,7.50
1740,1729,2008/2009,10,2008-10-29,8549,8456,2,0,2.88,3.30,2.50
1741,1729,2008/2009,10,2008-10-29,8559,8668,0,1,2.60,3.30,2.75
1742,1729,2008/2009,10,2008-10-29,8667,8455,0,3,8.00,4.33,1.44
1743,1729,2008/2009,10,2008-10-29,10194,8472,1,0,2.60,3.30,2.75
1744,1729,2008/2009,10,2008-10-29,8650,8462,1,0,1.33,5.00,10.00
1745,1729,2008/2009,10,2008-10-29,10252,8655,3,2,1.67,3.75,5.50
1746,1729,2008/2009,10,2008-10-28,10261,8659,2,1,1.83,3.50,4.50
1747,1729,2008/2009,10,2008-10-29,9879,8528,2,0,2.38,3.30,3.00
1748,1729,2008/2009,11,2008-11-01,10260,8667,4,3,1.17,7.00,17.00
1749,1729,2008/2009,11,2008-11-01,8586,8650,2,1,3.50,3.30,2.10
1750,1729,2008/2009,11,2008-11-01,8668,9879,1,0,1.67,3.75,5.50
1751,1729,2008/2009,11,2008-11-01,8549,8654,1,1,2.00,3.30,4.00
1752,1729,2008/2009,11,2008-11-03,10261,10252,2,0,3.00,3.30,2.38
1753,1729,2008/2009,11,2008-11-02,8559,8456,2,0,3.00,3.30,2.38
1754,1729,2008/2009,11,2008-11-01,8659,8655,2,2,2.50,3.30,2.88
1755,1729,2008/2009,11,2008-11-01,8462,8528,1,2,1.91,3.40,4.20
1756,1729,2008/2009,11,2008-11-01,10194,9825,2,1,8.00,4.50,1.40
1757,1729,2008/2009,11,2008-11-01,8455,8472,5,0,1.17,6.50,21.00
...,...,...,...,...,...,...,...,...,...,...,...
22703,21518,2015/2016,7,2015-10-03,8302,8634,2,1,4.00,3.60,1.91
22704,21518,2015/2016,7,2015-10-03,8306,8372,0,2,2.10,3.30,3.75
22705,21518,2015/2016,7,2015-10-02,9910,8305,0,0,1.44,4.50,7.50
22706,21518,2015/2016,7,2015-10-04,8581,10205,1,0,4.33,3.40,1.91
22707,21518,2015/2016,7,2015-10-04,9906,8633,1,1,3.20,3.30,2.30
22708,21518,2015/2016,7,2015-10-03,9864,8560,3,1,2.38,3.10,3.30
22709,21518,2015/2016,7,2015-10-04,8315,10267,3,1,2.30,3.30,3.20
22710,21518,2015/2016,7,2015-10-03,7878,9783,1,1,2.60,3.20,2.80
22711,21518,2015/2016,7,2015-10-03,8558,9869,1,2,2.00,3.30,4.00
22712,21518,2015/2016,7,2015-10-04,8370,8603,0,2,2.20,3.50,3.20
22713,21518,2015/2016,8,2015-10-17,8634,8370,5,2,1.14,9.00,15.00
22714,21518,2015/2016,8,2015-10-17,8372,8302,1,1,3.60,3.40,2.10
22715,21518,2015/2016,8,2015-10-18,8305,8306,4,0,2.15,3.20,3.60
22716,21518,2015/2016,8,2015-10-18,10205,9910,1,2,2.00,3.50,3.75
22717,21518,2015/2016,8,2015-10-17,8633,8581,3,0,1.08,12.00,23.00
22718,21518,2015/2016,8,2015-10-18,8560,9906,0,2,4.00,3.20,2.05
22719,21518,2015/2016,8,2015-10-17,10267,9864,3,0,1.62,3.75,6.00
22720,21518,2015/2016,8,2015-10-18,9783,8315,2,2,2.70,3.10,2.80
22721,21518,2015/2016,8,2015-10-19,9869,7878,3,3,2.00,3.20,4.20
22722,21518,2015/2016,8,2015-10-17,8603,8558,1,3,2.00,3.30,4.00
22723,21518,2015/2016,9,2015-10-25,8634,8372,3,1,1.11,10.00,19.00
22724,21518,2015/2016,9,2015-10-24,8302,8305,5,0,1.44,4.33,8.00
22725,21518,2015/2016,9,2015-10-25,8306,10205,0,0,3.50,3.25,2.20
22726,21518,2015/2016,9,2015-10-24,9910,8633,1,3,3.80,3.80,1.91
22727,21518,2015/2016,9,2015-10-25,8581,8560,0,4,2.63,3.20,2.80
22728,21518,2015/2016,9,2015-10-25,9906,10267,2,1,1.57,3.80,6.50
22729,21518,2015/2016,9,2015-10-24,9864,9783,2,0,2.25,3.25,3.40
22730,21518,2015/2016,9,2015-10-26,8315,9869,3,0,1.53,4.00,7.00
22731,21518,2015/2016,9,2015-10-24,7878,8603,1,1,2.30,3.25,3.25
22732,21518,2015/2016,9,2015-10-23,8370,8558,3,0,2.20,3.40,3.20

In [10]:
def printProgressBar (iteration, total, prefix = '', suffix = '', decimals = 1, length = 100, fill = '█'):
    """
    Call in a loop to create terminal progress bar
    @params:
        iteration   - Required  : current iteration (Int)
        total       - Required  : total iterations (Int)
        prefix      - Optional  : prefix string (Str)
        suffix      - Optional  : suffix string (Str)
        decimals    - Optional  : positive number of decimals in percent complete (Int)
        length      - Optional  : character length of bar (Int)
        fill        - Optional  : bar fill character (Str)
    """
    percent = ("{0:." + str(decimals) + "f}").format(100 * (iteration / float(total)))
    filledLength = int(length * iteration // total)
    bar = fill * filledLength + '-' * (length - filledLength)
    print'\r%s |%s| %s%% %s' % (prefix, bar, percent, suffix),'\r'
    # Print New Line on Complete
    if iteration == total: 
        print()

        

matches = matches[matches['league_id']!= 1]

from datetime import datetime

data_final = pd.DataFrame()
delta_stage=5
matches['date']=pd.to_datetime(matches['date'], format='%Y-%m-%d %H:%M:%S.%f')

matches.sort_values(["league_id","season","stage"])
#Loop extract data
l = len(matches)
c=0
  
printProgressBar(c, l, prefix = 'Progress:', suffix = 'Complete', length = 50)

for index, row in matches.iterrows():    
    c=c+1
    if row['stage']>delta_stage:
        local_c_mandante = tabela_mando_home(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id'])
        local_c_mandante.columns = ["hlc_"+ str(col) for col in local_c_mandante.columns]
        local_mandante = tabela(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id'])
        local_mandante.columns = ["hl_"+ str(col) for col in local_mandante.columns]
        global_c_mandante = tabela_mando_home(1,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id'])
        global_c_mandante.columns = ["hgc_"+ str(col) for col in global_c_mandante.columns]        
        global_mandante = tabela(1,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id'])
        global_mandante.columns = ["hg_"+ str(col) for col in global_mandante.columns]
        local = pd.concat([local_mandante,local_c_mandante],axis=1)
        glob =  pd.concat([global_mandante,global_c_mandante],axis=1)
        mandante =  pd.concat([glob,local],axis=1)
        mandante = mandante.drop(['hl_team','hg_team','hgc_team','hlc_team'],axis=1)
        ## Visitante ##
        local_visitante = tabela(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id'])
        local_visitante.columns = ["al_"+ str(col) for col in local_visitante.columns]
        local_c_visitante = tabela_mando_away(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id'])
        local_c_visitante.columns = ["alc_"+ str(col) for col in local_c_visitante.columns]
        global_visitante = tabela(1,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id'])
        global_visitante.columns = ["ag_"+ str(col) for col in global_visitante.columns]
        global_c_visitante = tabela_mando_away(1,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id'])
        global_c_visitante.columns = ["agc_"+ str(col) for col in global_c_visitante.columns]
        
        local = pd.concat([local_visitante,local_c_visitante],axis=1)
        glob =  pd.concat([global_visitante,global_c_visitante],axis=1)
        visitante =  pd.concat([glob,local],axis=1)
        visitante = visitante.drop(['al_team','ag_team','agc_team','alc_team'],axis=1)
        res = pd.concat([mandante,visitante],axis=1)
        res['ga_rank_def'] =  rank_pos(row['away_team_api_id'],rank_def_away(1,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id']))
        res['ga_rank_atk'] =  rank_pos(row['away_team_api_id'],rank_atk_away(1,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id']))
        res['gh_rank_def'] =  rank_pos(row['home_team_api_id'],rank_def_away(1,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id']))
        res['gh_rank_atk'] =  rank_pos(row['home_team_api_id'],rank_atk_away(1,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id']))
        res['la_rank_def'] =  rank_pos(row['away_team_api_id'],rank_def_away(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id']))
        res['la_rank_atk'] =  rank_pos(row['away_team_api_id'],rank_atk_away(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['away_team_api_id']))
        res['lh_rank_def'] =  rank_pos(row['home_team_api_id'],rank_def_away(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id']))
        res['lh_rank_atk'] =  rank_pos(row['home_team_api_id'],rank_atk_away(row['stage']-delta_stage,row['stage']-1,row['league_id'],row['season'],row['home_team_api_id']))
                                       
        
        
        #Calculo de dias do ultimo jogo
        if row['stage']==1 :
            res['h_date']=0
            res['a_date']=0
        else:
            h_date= last_match_date(row['date'],row['home_team_api_id'],row['season'])
            h_date['date']=pd.to_datetime(h_date['date'], format='%Y-%m-%d %H:%M:%S.%f')
            a_date= last_match_date(row['date'],row['away_team_api_id'],row['season'])
            a_date['date']=pd.to_datetime(a_date['date'], format='%Y-%m-%d %H:%M:%S.%f')
            #print row['stage']
            #print h_date['date']
            if a_date['date'].empty:
                res['a_date']=3
            else:
                res['a_date']=row['date']-a_date['date']
                
            if h_date['date'].empty:
                res['h_date']=3
            else:
                res['h_date']=row['date']-h_date['date']
                
        #Junta os dados do jogo atual com os dados gerados pelas funções anteriores.
        for field in row.index:
            res[field] = row[field]
        data_final = data_final.append(res)
        if c%150 == 0:
            printProgressBar(c, l, prefix = 'Progress:', suffix = 'Complete', length = 50)

        

    
print "FIM"
                                       
data_final.to_csv('dados2.csv')

Progress: |--------------------------------------------------| 0.0% Complete
Progress: |--------------------------------------------------| 0.7% Complete
Progress: |--------------------------------------------------| 1.4% Complete
Progress: |█-------------------------------------------------| 2.1% Complete
Progress: |█-------------------------------------------------| 2.9% Complete
Progress: |█-------------------------------------------------| 3.6% Complete
Progress: |██------------------------------------------------| 4.3% Complete
Progress: |██------------------------------------------------| 5.0% Complete
Progress: |██------------------------------------------------| 5.7% Complete
Progress: |███-----------------------------------------------| 6.4% Complete
Progress: |███-----------------------------------------------| 7.1% Complete
Progress: |███-----------------------------------------------| 7.9% Complete
Progress: |████----------------------------------------------| 8.6% Complete
Progress: |████----------------------------------------------| 9.3% Complete
Progress: |████----------------------------------------------| 10.0% Complete
Progress: |█████---------------------------------------------| 10.7% Complete
Progress: |██████--------------------------------------------| 12.1% Complete
Progress: |██████--------------------------------------------| 12.9% Complete
Progress: |██████--------------------------------------------| 13.6% Complete
Progress: |███████-------------------------------------------| 15.0% Complete
Progress: |███████-------------------------------------------| 15.7% Complete
Progress: |████████------------------------------------------| 16.4% Complete
Progress: |████████------------------------------------------| 17.1% Complete
Progress: |█████████-----------------------------------------| 18.6% Complete
Progress: |█████████-----------------------------------------| 19.3% Complete
Progress: |█████████-----------------------------------------| 20.0% Complete
Progress: |██████████----------------------------------------| 20.7% Complete
Progress: |██████████----------------------------------------| 21.4% Complete
Progress: |███████████---------------------------------------| 22.1% Complete
Progress: |███████████---------------------------------------| 22.9% Complete
Progress: |████████████--------------------------------------| 24.3% Complete
Progress: |████████████--------------------------------------| 25.0% Complete
Progress: |████████████--------------------------------------| 25.7% Complete
Progress: |█████████████-------------------------------------| 27.1% Complete
Progress: |█████████████-------------------------------------| 27.9% Complete
Progress: |██████████████------------------------------------| 28.6% Complete
Progress: |██████████████------------------------------------| 29.3% Complete
Progress: |██████████████------------------------------------| 30.0% Complete
Progress: |███████████████-----------------------------------| 30.7% Complete
Progress: |███████████████-----------------------------------| 31.4% Complete
Progress: |████████████████----------------------------------| 32.1% Complete
Progress: |████████████████----------------------------------| 32.8% Complete
Progress: |████████████████----------------------------------| 33.6% Complete
Progress: |█████████████████---------------------------------| 35.0% Complete
Progress: |█████████████████---------------------------------| 35.7% Complete
Progress: |██████████████████--------------------------------| 36.4% Complete
Progress: |██████████████████--------------------------------| 37.1% Complete
Progress: |██████████████████--------------------------------| 37.8% Complete
Progress: |███████████████████-------------------------------| 38.6% Complete
Progress: |███████████████████-------------------------------| 39.3% Complete
Progress: |███████████████████-------------------------------| 40.0% Complete
Progress: |████████████████████------------------------------| 40.7% Complete
Progress: |████████████████████------------------------------| 41.4% Complete
Progress: |█████████████████████-----------------------------| 42.8% Complete
Progress: |█████████████████████-----------------------------| 43.6% Complete
Progress: |██████████████████████----------------------------| 44.3% Complete
Progress: |██████████████████████----------------------------| 45.0% Complete
Progress: |██████████████████████----------------------------| 45.7% Complete
Progress: |███████████████████████---------------------------| 46.4% Complete
Progress: |███████████████████████---------------------------| 47.1% Complete
Progress: |███████████████████████---------------------------| 47.8% Complete
Progress: |████████████████████████--------------------------| 48.6% Complete
Progress: |████████████████████████--------------------------| 50.0% Complete
Progress: |█████████████████████████-------------------------| 50.7% Complete
Progress: |█████████████████████████-------------------------| 51.4% Complete
Progress: |██████████████████████████------------------------| 52.1% Complete
Progress: |██████████████████████████------------------------| 52.8% Complete
Progress: |██████████████████████████------------------------| 53.6% Complete
Progress: |███████████████████████████-----------------------| 54.3% Complete
Progress: |███████████████████████████-----------------------| 55.7% Complete
Progress: |████████████████████████████----------------------| 56.4% Complete
Progress: |████████████████████████████----------------------| 57.1% Complete
Progress: |████████████████████████████----------------------| 57.8% Complete
Progress: |█████████████████████████████---------------------| 58.6% Complete
Progress: |█████████████████████████████---------------------| 59.3% Complete
Progress: |█████████████████████████████---------------------| 60.0% Complete
Progress: |██████████████████████████████--------------------| 60.7% Complete
Progress: |██████████████████████████████--------------------| 61.4% Complete
Progress: |███████████████████████████████-------------------| 62.1% Complete
Progress: |███████████████████████████████-------------------| 62.8% Complete
Progress: |███████████████████████████████-------------------| 63.6% Complete
Progress: |████████████████████████████████------------------| 64.3% Complete
Progress: |████████████████████████████████------------------| 65.7% Complete
Progress: |█████████████████████████████████-----------------| 67.1% Complete
Progress: |█████████████████████████████████-----------------| 67.8% Complete
Progress: |██████████████████████████████████----------------| 68.6% Complete
Progress: |██████████████████████████████████----------------| 69.3% Complete
Progress: |██████████████████████████████████----------------| 70.0% Complete
Progress: |███████████████████████████████████---------------| 70.7% Complete
Progress: |███████████████████████████████████---------------| 71.4% Complete
Progress: |████████████████████████████████████--------------| 72.8% Complete
Progress: |████████████████████████████████████--------------| 73.6% Complete
Progress: |█████████████████████████████████████-------------| 74.3% Complete
Progress: |█████████████████████████████████████-------------| 75.0% Complete
Progress: |█████████████████████████████████████-------------| 75.7% Complete
Progress: |██████████████████████████████████████------------| 76.4% Complete
Progress: |██████████████████████████████████████------------| 77.1% Complete
Progress: |███████████████████████████████████████-----------| 78.6% Complete
Progress: |███████████████████████████████████████-----------| 79.3% Complete
Progress: |███████████████████████████████████████-----------| 80.0% Complete
Progress: |████████████████████████████████████████----------| 80.7% Complete
Progress: |████████████████████████████████████████----------| 81.4% Complete
Progress: |█████████████████████████████████████████---------| 82.1% Complete
Progress: |█████████████████████████████████████████---------| 82.8% Complete
Progress: |█████████████████████████████████████████---------| 83.6% Complete
Progress: |██████████████████████████████████████████--------| 84.3% Complete
Progress: |██████████████████████████████████████████--------| 85.0% Complete
Progress: |██████████████████████████████████████████--------| 85.7% Complete
Progress: |███████████████████████████████████████████-------| 86.4% Complete
Progress: |███████████████████████████████████████████-------| 87.8% Complete
Progress: |████████████████████████████████████████████------| 88.6% Complete
Progress: |████████████████████████████████████████████------| 89.3% Complete
Progress: |████████████████████████████████████████████------| 90.0% Complete
Progress: |█████████████████████████████████████████████-----| 91.4% Complete
Progress: |██████████████████████████████████████████████----| 92.1% Complete
Progress: |██████████████████████████████████████████████----| 92.8% Complete
Progress: |██████████████████████████████████████████████----| 93.5% Complete
Progress: |███████████████████████████████████████████████---| 94.3% Complete
Progress: |███████████████████████████████████████████████---| 95.0% Complete
Progress: |███████████████████████████████████████████████---| 95.7% Complete
Progress: |████████████████████████████████████████████████--| 97.1% Complete
Progress: |████████████████████████████████████████████████--| 97.8% Complete
Progress: |█████████████████████████████████████████████████-| 98.5% Complete
Progress: |█████████████████████████████████████████████████-| 100.0% Complete
FIM

In [11]:
data_final.columns.values

array(['hg_V', 'hg_D', 'hg_E', 'hg_GF', 'hg_AVG_GF', 'hg_GS', 'hg_AVG_GS',
       'hg_J1GS', 'hg_J1GF', 'hg_BTTS', 'hg_Over2', 'hg_Over3', 'hg_Over4',
       'hg_WinningCleanSheet', 'hg_LosingFS', 'hg_FailedScore',
       'hg_CleanSheet', 'hg_AVG_GOALS', 'hgc_V', 'hgc_D', 'hgc_E',
       'hgc_GF', 'hgc_AVG_GF', 'hgc_GS', 'hgc_AVG_GS', 'hgc_J1GS',
       'hgc_J1GF', 'hgc_BTTS', 'hgc_Over2', 'hgc_Over3', 'hgc_Over4',
       'hgc_WinningCleanSheet', 'hgc_LosingFS', 'hgc_FailedScore',
       'hgc_CleanSheet', 'hgc_AVG_GOALS', 'hl_V', 'hl_D', 'hl_E', 'hl_GF',
       'hl_AVG_GF', 'hl_GS', 'hl_AVG_GS', 'hl_J1GS', 'hl_J1GF', 'hl_BTTS',
       'hl_Over2', 'hl_Over3', 'hl_Over4', 'hl_WinningCleanSheet',
       'hl_LosingFS', 'hl_FailedScore', 'hl_CleanSheet', 'hl_AVG_GOALS',
       'hlc_V', 'hlc_D', 'hlc_E', 'hlc_GF', 'hlc_AVG_GF', 'hlc_GS',
       'hlc_AVG_GS', 'hlc_J1GS', 'hlc_J1GF', 'hlc_BTTS', 'hlc_Over2',
       'hlc_Over3', 'hlc_Over4', 'hlc_WinningCleanSheet', 'hlc_LosingFS',
       'hlc_FailedScore', 'hlc_CleanSheet', 'hlc_AVG_GOALS', 'ag_V',
       'ag_D', 'ag_E', 'ag_GF', 'ag_AVG_GF', 'ag_GS', 'ag_AVG_GS',
       'ag_J1GS', 'ag_J1GF', 'ag_BTTS', 'ag_Over2', 'ag_Over3', 'ag_Over4',
       'ag_WinningCleanSheet', 'ag_LosingFS', 'ag_FailedScore',
       'ag_CleanSheet', 'ag_AVG_GOALS', 'agc_V', 'agc_D', 'agc_E',
       'agc_GF', 'agc_AVG_GF', 'agc_GS', 'agc_AVG_GS', 'agc_J1GS',
       'agc_J1GF', 'agc_BTTS', 'agc_Over2', 'agc_Over3', 'agc_Over4',
       'agc_WinningCleanSheet', 'agc_LosingFS', 'agc_FailedScore',
       'agc_CleanSheet', 'agc_AVG_GOALS', 'al_V', 'al_D', 'al_E', 'al_GF',
       'al_AVG_GF', 'al_GS', 'al_AVG_GS', 'al_J1GS', 'al_J1GF', 'al_BTTS',
       'al_Over2', 'al_Over3', 'al_Over4', 'al_WinningCleanSheet',
       'al_LosingFS', 'al_FailedScore', 'al_CleanSheet', 'al_AVG_GOALS',
       'alc_V', 'alc_D', 'alc_E', 'alc_GF', 'alc_AVG_GF', 'alc_GS',
       'alc_AVG_GS', 'alc_J1GS', 'alc_J1GF', 'alc_BTTS', 'alc_Over2',
       'alc_Over3', 'alc_Over4', 'alc_WinningCleanSheet', 'alc_LosingFS',
       'alc_FailedScore', 'alc_CleanSheet', 'alc_AVG_GOALS', 'ga_rank_def',
       'ga_rank_atk', 'gh_rank_def', 'gh_rank_atk', 'la_rank_def',
       'la_rank_atk', 'lh_rank_def', 'lh_rank_atk', 'a_date', 'h_date',
       'league_id', 'season', 'stage', 'date', 'home_team_api_id',
       'away_team_api_id', 'home_team_goal', 'away_team_goal', 'B365H',
       'B365D', 'B365A'], dtype=object)